name: safe_debouncer_example
description: Example app for the safe_debouncer package
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  safe_debouncer:
    path: ../

flutter:
  uses-material-design: true
